
         a{border-style: solid;
         border-color: crimson}

         h2{text-align: right;
             color: cadetblue}

         h2{font-size: 30px}

         p{font-size: 20px}

         p{color: aliceblue}

         h2{text-align: center;
             color: cadetblue};

         h2{border-style: solid;
         border-color: cadetblue}
